<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('main_home') }}">Home</a> | <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Welcome, {{ name }}</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Date of Birth:</strong> {{ date_of_birth }}</p>
    <p><strong>Age:</strong> {{ age }} years old</p>
    <p><strong>Weight:</strong> {{ weight }} kg</p>
    <p><strong>Height:</strong> {{ height }} M</p>
    <p><strong>Push-up Goal:</strong> {{ pushup_goal }}</p>
    

    <a href="{{ url_for('update_profile') }}"><button>Edit Profile</button></a>
    <!-- Table for past pushup recordings -->
    <h2>Past Pushup Recordings</h2>
    <table>
        <thead>
            <tr>
                <th>Attempt</th>
                <th>Pushups</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for recording in recordings %}
                <tr>
                    <td>{{ recording.attempt }}</td>
                    <td>{{ recording.no_of_reps }}</td>
                    <td>{{ recording.timestamp }}</td>
                    <td>
                        <a href="{{ url_for('view_recording_details', attempt=recording.attempt) }}">
                            <button class="view-details-btn">View Details</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>